
//* @media screen and (max-width: 420px){
	
@keyframes resizing {
    from{
        min-width: 70%;
    }
    to{
        min-width: 50%;
    }
}

@keyframes spinner {
    0% {
        opacity: 1;
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    95%{
        transform: translate3d(-50%, -50%, 0) rotate(1080deg); 
    }
    100% {
		transition-delay: 1s;
         opacity: 0;
    }
}

@keyframes heartcolor {
    0%{
        color: $clr-w;
        cursor: default;
    }
    100%{
        color: $clr-1;
        cursor:pointer;
		 ;
    }
}
@keyframes appears {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@keyframes fadein {
    0% {
        padding-top: 50px;
        opacity:0;
    }
    100%{
        opacity: 1;
        padding-top: 15px;
    }
}

//******************BODY ET SON CONTENU********************************

body
{
    max-width: 420px;
    min-width: 375px;
    height: fit-content;
	@include mrglr-auto;
} 
.spinload {
	height: 20px;
    opacity: 0;
    position: relative;
    transition: opacity linear 0.1s;   
   
        animation: 3s linear spinner ;
        border: solid 3px $clr-2;
        border-bottom-color: $clr-1;
        border-radius: 50%;
        content: "";
        height: 40px;
        left: 50%;
        //*opacity: inherit;
        position: absolute;
        top: 50%;
       transform: translate3d(-50%, -50%, 0);
        transform-origin: center;
        width: 40px;
}
.accueil{
	animation: 12s appears forwards;
}
//********************HEADER ET SON CONTENU*********************************
header
{
	width: 100%;
	.bandeau{
		display: flex;
		justify-content: space-around;
		width: 100%;
		height: 50px;
		padding-top: 5px;
		background-color: lighten($color: $clr-4, $amount: 47%);
		.arrow, .right{
			box-sizing: border-box;
			width: 25px;
			height: 40px;
			font-size: x-large;
			color: $clr-b;
			padding-top: 6px;			
		}
		.logoomf{
			width: 200px;
			height: 40px;
		}
	} 
	.entete{
		width: 100%;
		height: 250px;
		background-color: lighten($color: $clr-4, $amount: 47%);
		.localisation{
			width: 100%;
			height: 40px;
			box-sizing: border-box;
			font-size: 24px;
			background-color: rgb(208, 203, 203) ;
			padding-top: 5px;
			& i{
				width: 30%;
				text-align: right;
			}
			.ville{
				width: 60%;
				margin-bottom: 10px;
				text-decoration: none;
				font-size: 18px;
				margin-right: 5px;
				margin-left: 5px;
				background-color: transparent;
				border: none;
				padding-left: 10px;
				&:focus{
					outline: none;
				}
			}
		}
		.text1{
			width:70% ;
			@include mrglr-auto;
			font-size: 20px ;
			font-weight: bold;
			text-align: center;
		}
		.text2{
			width:85% ;
			@include mrglr-auto;
			font-size: 16px ;
			text-align: center;
		}
		.discover{
			box-sizing: border-box;
			margin-top: 30px;
			width: 55%;
			height: 40px;
			@include mrglr-auto;
			border-radius: 25px;
			font-size: 18px;
			text-align: center;
			padding-top: 8px;
			font-weight: bold;
			background: linear-gradient($clr-2 5%, $clr-1);
			&:hover  {
				opacity: .6;
				box-shadow: 3px 3px 15px $clr-b;

			}
			.explore{
				background-color: transparent;
				border: 0;
				color: $clr-w;
				font-size: 16px;
				font-weight: 600;
				&:hover{
					cursor: pointer;
				}
			}
		} 
	}	
	}
	
//**************************MAIN ET SON CONTENU*****************************************
main{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: fit-content;
	.fct{
		font-size: 24px;
		font-weight: bold;
		margin-left: 25px;
	}
	.ccd{
		position: relative;
		width: 94%;
		height: fit-content;
		display: flex;
		margin-right: 2%;
		margin-left: 2%;
		margin-bottom: 30px;
		cursor: pointer;
		&:hover{ 
			opacity: .6;
			.choirest {
				box-shadow: 5px 5px 5px 5px lighten($color: $clr-4, $amount: 20%);
					}
		}
		.num{
			position: absolute;
			box-sizing: border-box;
			font-size: 15px;
			font-weight: 550;
			color: $clr-b;
			min-width: 30px;
			min-height: 30px;
			border-radius: 15px;
			background-color: $clr-1;
			text-align: center;
			padding-top: 5px;
			color: $clr-w;
		}
		.choirest{
			box-sizing: border-box;
			width: 90%;
			height: 60px;
			background-color: lighten($color: $clr-4, $amount: 47%);
			box-shadow: 3px 3px 3px 3px lighten($color: $clr-4, $amount: 42%);
			text-align: center;
			padding-top: 20px;
			margin-left: 10px;
			margin-top: 0px;
			border-radius: 18px;
			font-weight: bold;
			& i{
				color: $clr-1;
			}
		}
		
	}
	.lesrestos{
		width: 100%;
		height: fit-content;
		background-color: lighten($color: $clr-4, $amount: 47%);
		padding-bottom: 30px;
		.rsts{
			font-size: 24px;
			font-weight: bold;
			margin-left: 25px;
		}
	}
	.restostick
        {
            width: 85%;
            height: 240px;
            min-width: 170px;
            min-height: 150px;
            background-color: $clr-w;
            border-radius: 15px;
			@include mrglr-auto;
            padding: 3px 3px 3px 3px;
            margin-bottom: 20px;
			box-shadow:3px 3px 3px 5px rgb(242, 236, 236);
            text-decoration: none;
			cursor: pointer;
			&:hover{
				box-shadow:3px 3px 3px 3px $clr-4;

			}
			.restolink{
				width: 100%;
				height: 95%;
				margin-top: -15px;
				cursor:inherit;
			}
        }
        .restostick :link
        {
            text-decoration: none;
        }
        .LNE-pic
        {
            display: flex;
            align-items:center;
            overflow: hidden;
            width:100%;
            height: 72%;
            min-height: 90px;
            margin-bottom: 3px;
            border-radius: 10px 10px 0 0;
			& img{
				max-width: 100%;
				height: auto;
				bottom: 0;
			}
        }
		.LPG-pic, .ALF-pic, .DDS-pic
        {
            display: flex;
            align-items:flex-end;
            overflow: hidden;
            width:100%;
            height: 70%;
            min-height: 90px;
            margin-bottom: 3px;
            border-radius: 10px 10px 0 0;
        }
		& .new{
			width: 90px;
			height: 25px;
			background-color: $clr-3;
			color:  darken($clr-3, $amount: 40%);
			margin-left: -100px;
			margin-bottom: 125px;
			border-radius: 5px;
			text-align: center;
			padding-top: 4px;
		}
        & img 
        {
            max-width: 100%;
            height: auto;
            bottom: 0;
        }
		.lovit{
			box-sizing: border-box;
			width: 30px;
			height: 45px;
			font-size: 26px;
			padding-top: 1px;
			& i{
				color: $clr-w;
				text-shadow: 1px 1px 4px $clr-b;
			}
			&:hover > i{
				animation: heartcolor 3000ms ease-in-out forwards;
			} 
			}  
        .restolegend
        {
            display: flex;
			justify-content: space-between;
			padding-top: 12px;
			font-size: 18px;
            width:98%;
            height: 30%;
        }
		.restaux{
			display: flex;
			flex-direction: column;
			width: 65%;
			height: 80%;
			font-size: 20px;
			padding-left: 2%;
			padding-top: 15px;
			& .restotxt
			{
				box-sizing: border-box;
				width: 100%;
				min-height: 35%;
				margin-bottom: 0;
				color: $clr-b;
				font-weight: bold;
				border-radius: 10px;
				padding: 1% 1% 1% 1%;
				&::first-letter{
					text-transform: uppercase;
				}
			}
			& .rstxt2{
				width: 100%;
				height: 35%;
				color: $clr-4;
			}
		}
	.photoALF{
		@include cadrephoto;
		.alfpic{
			@include photo;
		}
	}
	.photoLPG{
		@include cadrephoto;
		.lpgpic{
			@include photo;
		}
	}
	.photoLDS{
		@include cadrephoto;
		.ldspic{
			@include photo;
		}
	}
	.photoLNE{
		width: 100%;
		height: 250px;
		display: flex; 
		overflow: hidden;
        align-items: center;
		margin-bottom: -19px;
		.lnepic{
			@include photo;
		}
	}
	.resto{
		width: 100%;
		min-height: 880px;
		border-radius: 25px 25px 0px 0px;
		background-color: lighten($color: $clr-4, $amount: 47%);
		.restnom{
			width: 100%;
			height: 50px;
			box-sizing: border-box;
			display: flex;
			justify-content: space-between;
			padding-left: 15px;
			padding-right: 15px;
			margin-top: 10px;
			.nom{
				width: 85%;
				height: 45px;
				font-family: "shrikhand", cursive;
				font-size: 28px;
				&::first-letter {
				text-transform: uppercase;
				}
			}
		}
		.entrees{
			@include category;
			.text{
				@include catext;
			}
			.barre{
				@include catbarre;
			}
		}
		.food {
			animation: fadein 1500ms ease-out forwards;
			&:hover {
				& > .food--resize {
					animation: resizing 800ms forwards;
				}
				& > .food--appears {
					transform: translateX(0px);
					transition: transform 800ms;
					 & > i{
						transform: rotate(360deg);
						transition: transform 800ms;
					}
				}
			}
		}
		.food{
			width: 95%;
			height: 70px;
			box-sizing: border-box;
			display: flex;
			justify-content: space-between;
			@include mrglr-auto;
			padding-left: 5px;
			padding-top: 15px;
			margin-top: 15px;
			border-radius: 10px;
			background-color: $clr-w;
			box-shadow: 3px 3px 3px 3px rgb(242, 236, 236);
			overflow: hidden;
			&--resize{
				min-width: 80%;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				color: $clr-4;
				font-size: 16px;
			&::first-line{
				color: $clr-b;
				font-size: 18px;
				font-weight: bold;
			}
			}
			&--move{
				box-sizing: border-box;
				min-width: 20%;
				font-size: 17px;
				font-weight: bold;
				padding-right: 10px;
				margin-right: 3px;
				text-align: right;
				&::first-line{
					font-size: 16px;
				}	
			}
			&--appears{
				box-sizing: border-box;
				min-width: 70px;
				height: 132%;
				margin-top: -16px;
				text-align: right;
				background-color: $clr-3;
				font-size: 26px;
				text-align: center;
				padding-top: 21px;
				& i{
					transform: rotate(0deg);
					transition: transform 500ms 200ms;
					color: $clr-w;
				}
			}
			}
		.plats{
			@include category;
			.text{
				@include catext;
			}
			.barre{
				@include catbarre;
			}
		}
		.sucre{
			@include category;
			.text{
				@include catext;
			}
			.barre{
				@include catbarre;
			}
		}
		.order{
			width: 100%;
			height: fit-content;
			text-align: center;
			margin-top: 40px;
			margin-bottom: 40px;

			.commande{
				@include mrglr-auto;
				border-radius: 25px;
				font-size: 18px;
				font-weight:600;
				background: linear-gradient($clr-2 5%, $clr-1);
				color: $clr-w;
				padding: 10px;
				padding-left: 30px;
				padding-right: 30px;
				border: none;		

				&:hover { 
				opacity: .7;
				box-shadow: 3px 3px 3px 3px $clr-4;	
				}
			}
		}
	}
}
footer{
	box-sizing: border-box;
	width: 100%;
	height: 220px;
	background-color: $clr-b;
	padding-top: 25px;
	padding-left: 15px;
	& p{
		color: $clr-w;
		font-weight: bold;
	}
	& a{
		text-decoration: none;
		color: $clr-w;
		font-weight: bold;
	}
.downlogoomf{
	width:30%;
	height: 25px;
	color: $clr-w;
	filter: invert(100%);
}
}



