
body{
	width: 100%;
	height: auto;
}

.restnom{
	width: 30%;
	display: flex;
	justify-content: space-between;
	font-size: x-large;
	&:hover > .lovit{
		animation: heartcolor 2000ms forwards;
	}
}

.lovit{
	color: white;
}

@keyframes heartcolor {
	0%{opacity: initial;
		}
	50%{color: black;
		opacity: 0.5;}
	100%{color: black;
		opacity: 1;}
	
}






































@keyframes test{
	0%{
		
		transform: translateX(0px);
	}
	100%{

		transform: translateX(-80px);
	}
}
.eat
{
	
	width: 450px;
	height: 60px;
	border: red solid 1px;
	display: flex;
	justify-content: space-between;
	overflow: visible;
}
.food 
{
	@include lomf;
	vertical-align: middle;
	margin-bottom: 10px;
	overflow: hidden;
  	text-overflow: ellipsis;
 	white-space: nowrap;
	/*
	&:active{
		animation: test 500ms forwards;
	}
	*/
	
	&:hover +.price {
		animation: test forwards;
	}
	
	/*
	&:hover + .select {
		animation: douce forwards;
	}
	*/
}
.price {
	min-width: 140px;
	border: 1px blue solid;
	display: flex;
	height: auto;
/*	justify-content: space-between; */
}

/*
.price p
{
	min-width: 80px;
	height: 40px;
	
}
*/

.tune {
	box-sizing: border-box;
	max-width: 30px;
	height: auto;
	text-align: left;
	padding-left: 3px;

}
.select{
	box-sizing: border-box;
	min-width: 30px;
	height: auto;
	text-align: left;
	background-color: yellow;

}

.badoo{
	width: fit-content;
	height: fit-content;
	font-size: xx-large;
	color: green;
	/*
	transform: rotate(0deg);
	transition: transform 1000ms ease-in-out;
	*/
}
.turn{
	margin-bottom: 10px;
}

.turn:active + .badoo {
	animation: douce 1000ms;
	
}

@keyframes douce {
	0%{background-color: initial;}
	100%{background-color: aqua;}
	/*
	0%{
		transform: rotatez(0deg);
	}
	
	100%{
		transform-origin: center;
		transform: rotatez(-720deg);
	}
*/

}




.plat{
	width: 400px;
	height: 80px;
	border: 1px black solid;
	margin-top: 50px;
	.platname{
		color: red;
	}
}
header
{
	width: 100%;
	height: 200px;
	border: blue 1px;

}
.logo{
	display: flex;
	align-items:center;
	width: 100%;
	height: 120px;
	border: 2px red solid;
	
}
.arrow{
	width: 100%;
	height: 40%;

	color: black;
	text-decoration: none;
	background-color: transparent;
	font-size:50px;
	display: flex;
	position: relative;
	border: red 1px solid;

}


.logoomf{
	
	@include lomf;
}
	
